<a href="https://colab.research.google.com/github/jreadia/DSA-CPE-010-CPE21S4/blob/main/Adia_CPE_010_Exercise_No_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DEMO 1 - AREA OF A CIRCLE

Algorithm to get the area of a circle if radius or diameter is given:
* Area = pi*r^2
* Area = pi*(d/2)^2

In [ ]:
# ----- IMPORTING MATH MODULE ----- #
import math

In [ ]:
# ----- AREA OF A CIRCLE WITH GIVEN RADIUS ----- #

# Creating a Function with Radius as a parameter
def Area_of_Circle_Radius(radius):
  return math.pi * radius**2

# Example usage with user input
radius = float(input("Enter the radius of the circle: "))
area = Area_of_Circle_Radius(radius)

# Display output with 2 decimal places
print("The area of the circle is:", round(area,2))

Enter the radius of the circle: 5
The area of the circle is: 78.54

In [ ]:
# ----- AREA OF A CIRCLE WITH GIVEN DIAMETER ----- #

# Creating a Function with Diameter as a parameter
def Area_of_Circle_Diameter(diameter):
  return math.pi * (diameter/2)**2

# Example usage with user input
diameter = float(input("Enter the diameter of the circle: "))
area = Area_of_Circle_Diameter(diameter)

# Display output with 2 decimal places
print("The area of the circle is:", round(area,2))

Enter the diameter of the circle: 10
The area of the circle is: 78.54

# DEMO 2 - ACCESSING ELEMENTS IN THE ARRAY

In [ ]:
# Accessing the Elements in the Array
animals = ["cat", "dog", "fish"]
x = animals[0]
print(x)

cat

In [ ]:
# Modifying Elements in the Array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
print(animals)

['monkey', 'dog', 'fish']

In [ ]:
# Length of an Array
animals = ["monkey", "dog", "fish"]
x = len(animals)
print(x)

3

In [ ]:
# Looping Array Elements
animals = ["monkey", "dog", "fish"]
for x in animals:
  print(x)

monkey
dog
fish

In [ ]:
# Adding item in animals list
animals = ["monkey", "dog", "fish"]
animals.append("bird")
print(animals)

['monkey', 'dog', 'fish', 'bird']

In [ ]:
# Pop an item in animals list
animals = ["monkey", "dog", "fish", "bird"]
animals.pop(1)
print(animals)

['monkey', 'fish', 'bird']

In [ ]:
# Reversing the items in the list using reverse()
animals = ["monkey", "dog", "fish", "bird"]
animals.reverse()
print(animals)

['bird', 'fish', 'dog', 'monkey']

In [ ]:
# Inserting an item in a specified position using insert()
animals = ["monkey", "dog", "fish", "bird"]
animals.insert(3, "cow")
print(animals)

['monkey', 'dog', 'fish', 'cow', 'bird']

In [ ]:
# Removing an item in the animals list using remove()
animals = ["monkey", "dog", "fish", "bird"]
animals.remove("dog")
print(animals)

['monkey', 'fish', 'bird']

In [ ]:
# Removing all elements from the list
animals = ["monkey", "dog", "fish", "bird"]
animals.clear()
print(animals)

[]

In [ ]:
# Returning a copy of the list
animals = ["monkey", "dog", "fish", "bird"]
x = animals.copy()
print(x)

['monkey', 'dog', 'fish', 'bird']

In [ ]:
# Returning the number of elements with a specified value
animals = ["monkey", "dog", "fish", "bird"]
x = animals.count("monkey")
print(x)

1

In [ ]:
# Add elements of a list to the end of the current list
animals = ["monkey", "dog", "fish", "bird"]
cars = ["toyota", "bmw", "ford"]
animals.extend(cars)
print(animals)

['monkey', 'dog', 'fish', 'bird', 'toyota', 'bmw', 'ford']

In [ ]:
# Returning the index of an element in the list
animals = ["monkey", "dog", "fish", "bird"]
x = animals.index("fish")
print(x)

2

In [ ]:
# Sorting the order of the list alphabetically
animals = ["monkey", "dog", "fish", "bird"]
animals.sort()
print(animals)

['bird', 'dog', 'fish', 'monkey']